<div class="container">
	<div class="row">
		<div class="col-xs-12">

			<div class="page-header">
				<h2>Need help? <small>(in italian)</small></h2>
			</div>
		
			<div class="list-group help">
				<a href="#/help/manual_user" class="list-group-item">
					<h4 class="list-group-item-heading">Manuale Utente</h4>
					<p class="list-group-item-text">
						Questo documento è rivolto all’utente finale, ha lo scopo di spiegare passo passo tutte le funzionalità dell'applicazione web generata dal framework MaaP.
					</p>
				</a>
				<a href="#/help/manual_admin" class="list-group-item">
					<h4 class="list-group-item-heading">Manuale Amministratore</h4>
					<p class="list-group-item-text">
						Questo documento è rivolto all’utente con privilegi di Admin e SuperAdmin, ha lo scopo di illustrare le procedure de seguire per svolgere le operazioni utente e di amministrazione di MaaP.
					</p>
				</a>
			</div>
			
		</div>
	</div>
</div>