<div class="row manual">

  <div class="col-md-3 col-xs-12 manual-aside" >
    <nav> 
      <ul class="nav nav-pills nav-stacked span2">
        <li><a scroll-to="Step1"> 1. Registrazione </a></li>
        <li><a scroll-to="Step2"> 2. Autenticazione </a></li>
        <li><a scroll-to="Step3"> 3. Logout </a> </li>
        <li><a scroll-to="Step4"> 4. Recupero Password </a></li>
        <li><a scroll-to="Step5"> 5. Accesso e modifica profilo personale </a> </li>
        <li><a scroll-to="Step6"> 6. Visualizzazione Dashboard </a></li>
        <li><a scroll-to="Step7"> 7. Apertura Collection Index </a></li>
        <li><a scroll-to="Step8"> 8. Apertura della Show Page di un Document </a></li>
        <li><a scroll-to="Step9"> 9. Visualizzazione Show Page attributi innestati </a></li>
        <li><a scroll-to="Step10"> 10. Come riportare problemi e anomalie </a></li>
        <li class="divider"><a href="" eat-click></a></li>
        <li><a href="#/help"><i class="glyphicon glyphicon-chevron-left"></i> Back</a></li>
      </ul>
    </nav>
  </div>

  <div class="col-md-9 col-xs-12 manual-content">
    <h1 id="Step1" class="text-info">Manuale Utente</h1>    
    <section>
      <div class="page-header">
        <h2>1. Registrazione <small>Manuale Utente {{user_manual_version}}</small></h2> 
      </div>
      <p>
        Il primo passo per poter utilizzare l’applicazione MaaP è la registrazione. <br>
        È possibile registrasi cliccando sul pulsante 
        <a href="#/signup">Sign up</a> presente nella homepage. <br>
        <img src="images/user_manual/signup.png" class="img-small">
        Verrà proposto un form da completare seguendo la procedura:
        <ul>
          <li>
            <strong>email:</strong> inserire l’indirizzo mail con il quale registrarsi. <em>(Verrà utilizzato per il <a href="#" scroll-to="Step4">reset della password</a>)</em>
          </li>
          <li><strong>password:</strong> inserire una password;</li>
          <li><strong>password confirmation</strong> inserire nuovamente la password del punto precedente;</li>
          <li><strong>Signup:</strong> la pressione del tasto signup creerà il nuovo utente con le credenziali inserite.</li>
        </ul>
      </p>
    </section>
    
    <section id="Step2">
      <div class="page-header">
        <h2>2. Autenticazione <small>Manuale Utente {{user_manual_version}}</small></h2>
      </div>
      <p>
        Per poter effettuare il login è necessario essere registrati. <br>
        Il login permette di accedere alla dashboard del sistema e quindi a tutte le funzionalità offerte da MaaP. <br>
        Per autenticarsi è necessario compilare il form proposto nella pagina di <a href="#/login">login</a><br>
        <img src="images/user_manual/login.png" class="img-small">
        Viene richiesto di inserire <strong>email (1)</strong>, <strong>password (2)</strong> e di cliccare sul pulsante <strong>Sign in (3).</strong> <br> Terminata l’autenticazione, l’utente viene reindirizzato sulla <i>dashboard</i>. <br>
        Per il recupero della password vedi il capitolo <a href="#" scroll-to="Step4">4.Recupero Password</a>.
      </p>
    </section>
    
    <section id="Step3">
      <div class="page-header">
        <h2>3. Logout <small>Manuale Utente {{user_manual_version}}</small></h2>
      </div>
      <p>
        Per poter effettuare il logout è necessario essere registrati. <br>
        Il logout permette di terminare la propria sessione di lavoro. Un volta effettuato il logout, al successivo accesso alla piattaforma sarà richiesto di autenticarsi. <br>
        Per effettuare il logout cliccare sul proprio indirizzo mail posto sulla barra dei menù e selezionare la voce <strong>Logout</strong>.        
        <img src="images/user_manual/logout.png" class="img-small">
      </p>
    </section>
    
    <section id="Step4">
      <div class="page-header" >
        <h2>4. Recupero Password <small>Manuale Utente {{user_manual_version}}</small></h2>
      </div>
      <p>
      Il recupero password avviene nel caso in cui l’utente abbia perso la password. <br>
      Per poter procedere con un recupero password è necessario conoscere l’<a href="#" scroll-to="Step1">email di registrazione</a>. <br> 
      Il recupero dalla password avviene partendo dalla pagina di <a href="#/login">login</a> cliccando sul link <strong>Forgot your password?</strong>        
        <img src="images/user_manual/forgotpwd.png" class="img-small">
      </p>
      <p>
        Verrà proposto un form dove sarà richiesto di inserire l’<strong>email di registrazione (1)</strong> e cliccare il pulsante di <strong>reset password (2)</strong>
      </p>
      <img src="images/user_manual/forgotPwdForm.png" class="img-small">
      L’utente riceverà un messaggio nella casella di posta associata contenente l’url da seguire per procedere al reset della password.
      <img src="images/user_manual/mailResetPwd.png" class="img-small">
      <p>
        Una volta raggiunto tramite browser il link ricevuto al punto precedente sarà necessario compilare il form per il reset della password inserendo la <strong>nuova password</strong> due volte <strong>(1)</strong> e <strong>(2)</strong>, e completando l'operazione con la pressione del pulsante <strong>Change Password (3)</strong>
        <img src="images/user_manual/resetPwdForm.png" class="img-small">
      </p>
    </section>

    <section id="Step5">
      <div class="page-header">
        <h2>5. Accesso e modifica profilo personale <small>Manuale Utente {{user_manual_version}}</small></h2>
      </div>
      <p>
        Per accedere alla pagina di modifica del profilo cliccare sul proprio indirizzo mail posto sulla barra del menù e selezionare la voce <strong>Profile</strong>.
        <img src="images/user_manual/profileButton.png" class="img-small">
      </p>
      <p>
        La pagina <i>Profile</i> visualizza le informazioni personali dell’utente <strong>(1)</strong>. <br>
        La modifica della password di registrazione avviene cliccando sul pulsante <strong>Edit password (2)</strong>.
        <img src="images/user_manual/showProfile.png" class="img-small">
      </p>
      <p>
        Viene proposto un form nel quale va inserita la <strong>nuova password</strong> due volte <strong>(1)</strong> e <strong>(2)</strong>, la <strong>password vecchia</strong> che si vuole sostituire <strong>(3)</strong> e confermare cliccando sul pulsante <strong>Save changes (4)</strong>. <br>
        Se l’utente desidera interrompere l’operazione di modifica password può cliccare il pulsante <i>Cancel</i>.
        <img src="images/user_manual/changePwdForm.png" class="img-small">
      </p>
    </section>

    <section id="Step6">
      <div class="page-header" >
        <h2>6. Visualizzazione Dashboard <small>Manuale Utente {{user_manual_version}}</small></h2>
      </div>
      <p>
      La <i>Dashboard</i> è la pagina principale dalla quale è possibile avere accesso alla lista delle collections presenti nel sistema e alle altre funzionalità. <br> 
      Per accedervi è necessario aver eseguito l’<a href="#" scroll-to="Step2">autenticazione</a>. <br>
      È possible filtrare la lista delle collection digitando il nome della collection desiderata nel campo di ricerca <strong>(1)</strong>.
        <img src="images/user_manual/dashboard.png" class="img-large">
      </p>
    </section>

    <section id="Step7">
      <div class="page-header" >
        <h2>7. Apertura Collection Index <small>Manuale Utente {{user_manual_version}}</small></h2>
      </div>
      <p>
      La <i>Collection Index</i> è la pagina in cui viene visualizzato il contenuto di una collection in forma tabellare. <br>
      Per aprire una collection index è necessario cliccare sul relativo link presente nella barra dei menù <strong>(2)</strong> oppure nel link visualizzato nella pagina dashboard <strong>(1)</strong>.
        <img src="images/user_manual/aperturaCollection.png" class="img-large">
      </p>
      <p>
      La pagina collection index visualizzerà l’intero contenuto della collection. <br>
      La tabella visualizza i documenti dei quali è possibile aprire la <a href="#" scroll-to="Step8">Show Page</a> cliccando sul relativo link <strong>(1)</strong>.
        <img src="images/user_manual/collection.png" class="img-large">
      </p>
    </section>

    <section id="Step8">
      <div class="page-header" >
        <h2>8. Apertura della Show Page di un document <small>Manuale Utente {{user_manual_version}}</small></h2>
      </div>
      <p>
      La <i>Show Page</i> di un document visualizza gli attributi del documento in forma tabellare. <br>
      Per accedere ad una show page è necessario posizionarsi nella <a href="#" scroll-to="Step7">collection index</a> di appartenenza e seguire il punto <strong>(1)</strong>. 
        <img src="images/user_manual/showpage.png" class="img-small">
      </p>      
    </section>

    <section id="Step9">
      <div class="page-header">
        <h2>9. Visualizzazione Show Page attributi innestati <small>Manuale Utente {{user_manual_version}}</small></h2>
      </div>
      <p>
      La presenza di document innestati viene evidenziata dalla visualizzazione dell’attributo come un link <strong>(1)</strong>, attraverso il quale è possibile accedere alla <a href="#" scroll-to="Step8">show page</a>. <br>
      Nell esempio riportato i punti <strong>(2)</strong> e <strong>(3)</strong> evidenziano come sia possibile avere molteplici attributi innestati e quindi visualizzabili.
        <img src="images/user_manual/attributiInnestati.png" class="img-large">
      </p>
    </section>

    <section id="Step10">
      <div class="page-header" >
        <h2>10. Come riportare problemi e anomalie <small>Manuale Utente {{user_manual_version}}</small></h2>
      </div>
      <p>
      La segnalazione di problemi e malfunzionamenti avviene creando una issue di GitHub tramite il pulsante <a href="#/report">Report a problem</a> collocato nel footer di ogni pagina.
        <img src="images/user_manual/probelmReportButton.png" class="img-small">
      </p>
      <p>
        La pagina di report mostra un pulsante che permette di aprire una issue su GitHub, per eseguire tale operazione è necessario possedere un account di GitHub. Per aprire un account su GitHub andare su <a href="https://github.com/join">https://github.com/join</a>, la procedura è guidata ben descritta nella pagina stessa.
        <img src="images/user_manual/paginaProbelmReport.png" class="img-small">
        La descrizione del problema dovrà contenere i seguenti punti:
        <ul>
          <li>Titolo della issue dovrà essere conciso e descrittivo del problema riscontrato.</li>
          <li>
            Descrizione estesa delle operazioni che hanno portato all’anomalia, corredata di tutte le note ritenute utili alla comprensione del problema.
          </li>
          <li>Riferimento temporale;</li>
          <li>Azioni e pagine in cui si è riscontrato il problema;</li>
          <li>Codice dell’errore se visualizzato;</li>
          <li>Label di GitHub impostata su bug.</li>
        </ul>
      </p>
    </section>
  	
    <section>
  		<h2><small>ChangeLog</small></h2>
  		<table class="table">
  			<tr><th>Versione</th><th>Data</th><th>Descrizone</th></tr>
  			<tr><td> 3.0.0 </td><td> 2014-03-30 </td><td> Release </td> </tr>
  			<tr><td> 2.1.0 </td><td> 2014-03-29 </td><td> Verifica </td> </tr>
  			<tr><td> 2.0.3 </td><td> 2014-03-28 </td><td> Incremento: screenshot esplicativi</td> </tr>
  			<tr><td> 2.0.2 </td><td> 2014-03-28 </td><td> Incremento: struttura procedurare</td> </tr>
  			<tr><td> 2.0.1 </td><td> 2014-03-25 </td><td> Correzione </td> </tr>
  			<tr><td> 2.0.0 </td><td> 2014-03-13 </td><td> Release </td> </tr>
  			<tr><td> 1.1.0 </td><td> 2014-03-13 </td> <td>Verifica </td> </tr>
  			<tr><td> 1.0.4 </td><td> 2014-03-09 </td> <td>Stesura Gestione delle collection </td> </tr>
  			<tr><td> 1.0.3 </td><td> 2014-03-08 </td> <td> Stesura Autenticazione e gestione profilo </td> </tr>
  			<tr><td> 1.0.2 </td><td> 2014-03-06 </td> <td> Stesura introduzione </td> </tr>
  			<tr><td> 1.0.1 </td><td> 2014-03-03 </td> <td> Creato documento</td> </tr>
  			<tr><td></td><td></td><td></td></tr>
  		</table>
  	</section>
  </div>

</div>