<div class="row manual">

  <div class="col-md-3 col-xs-12 manual-aside" >
    <nav> 
      <ul class="nav nav-pills nav-stacked span2">
        <li><a scroll-to="Step1"> 1. Gestione delle collection </a></li>
        <li><a scroll-to="Step2"> 2. Modifica di un document dalla Collection Index </a></li>
        <li><a scroll-to="Step3"> 3. Modifica di un document dalla Show Page </a> </li>
        <li><a scroll-to="Step4"> 4. Eliminazione di un document da collection-index </a></li>
        <li><a scroll-to="Step5"> 5. Eliminazione di un document da show-page </a> </li>
        <li><a scroll-to="Step6"> 6. Visualizzazione index-page utenti </a></li>
        <li><a scroll-to="Step7"> 7. Visualizzazione show-page utente </a></li>
        <li><a scroll-to="Step8"> 8. Creazione utente </a></li>
        <li><a scroll-to="Step9"> 9. Modifica utente </a></li>
        <li><a scroll-to="Step10"> 10. Eliminazione utente </a></li>
        <li class="divider"><a href="" eat-click></a></li>
        <li><a href="#/help"><i class="glyphicon glyphicon-chevron-left"></i> Back</a></li>
      </ul>
    </nav>
  </div>

  <div class="col-md-9 col-xs-12 manual-content">
    <h1 id="Step1" class="text-info">Manuale Admin</h1>      
    <section>
      <div class="page-header">
        <h2>1. Gestione delle collection <small>Manuale Admin {{admin_manual_version}}</small></h2> 
      </div>
      <p>
        Le funzionalità di gestione delle collection elencate di seguito sono specificate nel <a href="#/help/manual_user">Manuale Utente</a>:
        <ul>
          <li>Visualizzazione Dashboard</li>
          <li>Apertura Collection Index</li>
          <li>Apertura della Show Page di un document</li>
          <li>Visualizzazione Show Page attributi innestati</li>
        </ul>
      </p>
    </section>
    <section id="Step2">
      <div class="page-header">
        <h2>2. Modifica di un document dalla Collection Index <small>Manuale Admin {{admin_manual_version}}</small></h2> 
      </div>
      <p>
      Per modificare un document a partire dalla Collection Index cliccare sul pulsante <strong>Edit (1)</strong> relativo al documento che si vuole editare.
      <img src="images/admin_manual/modificadocumentdacollectionindex.png" class="img-large">
      La pagina di modifica del document permette l’edit degli attributi disponibili <strong>(1)</strong>, <strong>(2)</strong>. <br>
      Per salvare le modifiche cliccare sul pulsante <strong>Save changes (3)</strong>. 
      Se l’utente desidera interrompere l’operazione di modifica, perdendo così i dati non salvati, cliccare sul pulsante <strong>Cancel (4)</strong>.
      <img src="images/admin_manual/modificaDocumentForm.png" class="img-small" id="img2">
      </p>
    </section>

    <section id="Step3">
      <div class="page-header">
        <h2>3. Modifica di un document dalla Show Page <small>Manuale Admin {{admin_manual_version}}</small></h2> 
      </div>
      <p>
      Per modificare un document a partire dalla relativa <i>Show Page</i> cliccare il pulsante <strong>Edit Document (1)</strong>. <br>
      Il sistema presenterà un form con il quale è possibile modificare gli attributi disponibili (vedi <a href="#" scroll-to="img2">2</a>)
      <img src="images/admin_manual/modificadocumentdashowpage.png" class="img-small">
      </p>
    </section>

    <section id="Step4">
      <div class="page-header">
        <h2>4. Eliminazione di un document da collection-index <small>Manuale Admin {{admin_manual_version}}</small></h2> 
      </div>
      <p>
      Per eliminare un document a partire dalla collection-index cliccare sul pulsante <strong>Delete (1)</strong>.
      <img src="images/admin_manual/eliminadocumentdacollectionindex.png" class="img-large">
      Confermare l’eliminazione del document tramite la finestra proposta dal browser.
      <img src="images/admin_manual/confermaEliminazDocument.png" class="img-small">
      </p>
    </section>

    <section id="Step5">
      <div class="page-header">
        <h2>5. Eliminazione di un document da show-page <small>Manuale Admin {{admin_manual_version}}</small></h2> 
      </div>
      <p>
      Per eliminare un document a partire dalla relativa show-page cliccare il pulsante <strong>Delete Document (1)</strong> e in seguito confermarne l'eliminazione.
      <img src="images/admin_manual/eliminazionedocumentdashowpage.png" class="img-small">
      </p>
    </section>

    <section id="Step6">
      <div class="page-header">
        <h2>6. Visualizzazione index-page utenti <small>Manuale Admin {{admin_manual_version}}</small></h2> 
      </div>
      <p>
      Per accedere alla pagina di gestione degli utenti cliccare sul link <strong>Users (1)</strong> presente nella barra del menù.
      <img src="images/admin_manual/usersButton.png" style="margin: 20px 0; border: 1px solid #eee; display: block;">
      </p>
    </section>

    <section id="Step7">
      <div class="page-header">
        <h2>7. Visualizzazione show-page utente <small>Manuale Admin {{admin_manual_version}}</small></h2> 
      </div>
      <p>
      Per visualizzare la show page di un utente posizionarsi sulla index-page degli utenti come descritto in <a href="#" scroll-to="Step6">6</a>. <br>Cliccare sull’attributo <strong>Users (1)</strong> dell’utente di cui si vuole visualizzare la show-page.
      <img src="images/admin_manual/usersEmailButton.png" class="img-small">
      Vengono visualizzati gli attributi dell’utente selezionato.
      <img src="images/admin_manual/userShowPage.png" class="img-small">
      </p>
    </section>

    <section id="Step8">
      <div class="page-header">
        <h2>8. Creazione utente <small>Manuale Admin {{admin_manual_version}}</small></h2> 
      </div>
      <p>
      Per inserire un nuovo utente accedere alla index-page degli utenti (vedi <a href="#" scroll-to="Step6">6</a>). <br>
      Cliccare il pulsante <strong>Create User (1)</strong> nella collection-index degli utenti.
      <img src="images/admin_manual/createuserButton.png" class="img-small">
      Inserire <strong>email (1)</strong>, <strong>password (2)</strong>, il <strong>livello utente (3)</strong> e confermare cliccando il pulsante <strong>Add User (4)</strong>. <br>
      L’utente può annullare l’operazione cliccando sul pulsante <strong>Back (5)</strong>.
      <img src="images/admin_manual/formCreazioneUtente.png" class="img-small">
      </p>
    </section>

    <section id="Step9">
      <div class="page-header">
        <h2>9. Modifica utente <small>Manuale Admin {{admin_manual_version}}</small></h2> 
      </div>
      <p>
      Per modificare un utente accedere alla index-page degli utenti (vedi <a href="#" scroll-to="Step6">6</a>). <br>
      Cliccare il pulsante <strong>Edit (1)</strong> nella collection-index degli utenti.
      <img src="images/admin_manual/editUserButton.png" class="img-large">
      Viene proposto il form di modifica. Selezionare il livello utente desiderato tramite gli appositi selettori <strong>(1)</strong>. <br>
      L’utente può annullare l’operazione cliccando sul pulsante <strong>Cancel (2)</strong>.
      <img src="images/admin_manual/editUserLevel.png" class="img-small">
      </p>
    </section>

    <section id="Step10">
      <div class="page-header">
        <h2>10. Eliminazione utente <small>Manuale Admin {{admin_manual_version}}</small></h2> 
      </div>
      <p>
      Per eliminare un utente accedere alla index-page degli utenti (vedi <a href="#" scroll-to="Step6">6</a>). <br>
      Cliccare il pulsante <strong>Delete (1)</strong> nella collection-index degli utenti.
      <img src="images/admin_manual/deleteUserButton.png" class="img-large">
      Viene chiesta conferma prima di procedere con la cancellazione dell utente selezionato.
      <img src="images/admin_manual/confirmDeleteUser.png" class="img-small">
      </p>
    </section>
    
    
    <section>
      <h2><small>ChangeLog</small></h2>
      <table class="table">
        <tr><th>Versione</th><th>Data</th><th>Descrizone</th></tr>
        <tr><td> 3.0.0 </td><td> 2014-03-30 </td><td> Release </td> </tr>
        <tr><td> 2.1.0 </td><td> 2014-03-29 </td><td> Verifica </td> </tr>
        <tr><td> 2.0.3 </td><td> 2014-03-28 </td><td> Incremento: screenshot esplicativi</td> </tr>
        <tr><td> 2.0.2 </td><td> 2014-03-28 </td><td> Incremento: struttura procedurale</td> </tr>
        <tr><td> 2.0.1 </td><td> 2014-03-25 </td><td> Correzione </td> </tr>
        <tr><td> 2.0.0 </td><td> 2014-03-13 </td><td> Release </td> </tr>
        <tr><td> 1.1.0 </td><td> 2014-03-13 </td> <td>Verifica </td> </tr>
        <tr><td> 1.0.4 </td><td> 2014-03-09 </td> <td>Stesura Gestione delle collection </td> </tr>
        <tr><td> 1.0.3 </td><td> 2014-03-08 </td> <td> Stesura Autenticazione e gestione profilo </td> </tr>
        <tr><td> 1.0.2 </td><td> 2014-03-06 </td> <td> Stesura introduzione </td> </tr>
        <tr><td> 1.0.1 </td><td> 2014-03-03 </td> <td> Creato documento</td> </tr>
        <tr><td></td><td></td><td></td></tr>
      </table>
    </section>
  </div>

</div>