<div class="container">
	<div class="row">
		<div class="col-xs-5 col-xs-offset-3">

			<div class="page-header">
				<h2>Reset your password</h2>
				<p>Enter your new password</p>
			</div>

			<div class="well">
				<form role="form">
					<div class="form-group">
						<label for="reset-pwd">Change Password</label>
						<input type="password" class="form-control" id="reset-pwd" placeholder="Enter password" ng-model='resetPassword' autofillfix />
					</div>
					
					<div class="form-group">
						<label for="reset-confpwd">Password confirmation</label>
						<input type="password" class="form-control" id="reset-confpwd" placeholder="Repeat Password" ng-model='confirmResetPassword' autofillfix />
					</div>
					
					<div class="form-group">
						<button type="submit" class="btn btn-success btn-block" ng-click="reset_password()">Change Password</button>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>